main {
  min-height: 70vh;
  padding: 3vh 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.product-title {
  font-weight: bold;
}

.rating span {
  margin: 0.1rem 0;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
}

a {
  text-decoration: none;
}

.card-image {
  margin-bottom: 1.5vh;
}

.steps {
  display: flex;
  flex-flow: row nowrap;
  font-size: small;
}
